/*Generali*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    color: white;
    font-family: "Lexend Deca", "Open Sans", Arial, Helvetica, sans-serif ;
    font-size: 15px;
    font-weight: 400;
}

h1{
    margin: 20px 0;
    font-weight: 700;
    font-family:"Big Shoulders", sans-serif;
}

img{
    max-width: 50px;
}

/*Button*/

button{
    cursor: pointer;
    border:  2px solid white;
    border-radius: 30px;
    background-color: white;
    margin-top: 70px ;
    mix-blend-mode: lighten;
    padding: 10px 30px;
}

button:hover{
    background-color: transparent;
    color: white;
}

/*Wrapper*/

.wrapper{
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    background-color: blue;
    width: 60%;
    margin: 80px auto;
}

.col{
    padding: 40px;
    width: calc(100%/3);
}

.bg_gold{
    border-radius: 10px 0px 0 10px;
    background-color: hsl(31, 77%, 52%);
}

.bg_soft_green{
    background-color: hsl(184, 100%, 22%);
}

.bg_dark_green{
    border-radius: 0px 10px 10px 0px;
    background-color: hsl(179, 100%, 13%);
}

/*********************************************************/
/*Responsive*/

@media screen and (max-width:380px){
    
    .wrapper{
    width: 80%;
    margin: 80px auto;
    }

    .col{
        width: 100%;
    }

    .bg_gold {
    border-radius: 10px 10px 0 0px;
    }
    .bg_dark_green {
    border-radius: 0px 0px 10px 10px;
    }

}
